
img{
    max-width: 100%;
    height: auto;
}

h1{
    font-weight: lighter;
    font-family:cursive;
    color: rgb(148, 43, 43);
    text-shadow: 2px 2px goldenrod;
    margin: 0;
}
h2{
    @extend h1;
    color: yellow;
}
h3{
    font-family: fantasy;
}

.G1{
    position: relative;
    text-align: center;
}

.headShot{
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    }


